.controls__container {
    display: flex;
    width: 100%;
    height: 86px;
    justify-content: center;
}

.controls__container button {
    margin: 0 10px;
}

.controls__container button.player {
    
}

.timeline  {
    -webkit-appearance: none;
    height: 5px;
    background: #f4712024;
    background-image: linear-gradient(#FF7E3A, #FF9A45);
    background-size: 0% 100%;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.06);
    background-repeat: no-repeat;
    border-radius: 5px;
}

.timeline::-webkit-slider-thumb {
    appearance: none;
    -moz-appearance: none;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background: #F47120;
}
